/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

******************************************************************/


/*********************
TRANSITION
*********************/


@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit-", "-moz-","-o-" );
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

/*********************
CSS3 GRADIENTS
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from, $to) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

/*********************
BOX SIZING
*********************/

@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

@mixin top-border($size, $color){
	-webkit-border-top: $size solid $color;
	-moz-border-top: $size solid $color;
	-o-border-top: $size solid $color;
	border-top: $size solid $color; 
}
@mixin left-border($size, $color){
	-webkit-border-left: $size solid $color;
	-moz-border-left: $size solid $color;
	-o-border-left: $size solid $color;
	border-left: $size solid $color; 
}
@mixin border-box($size, $color){
	-webkit-border: $size solid $color;
	-moz-border: $size solid $color;
	-o-border: $size solid $color;
	border: $size solid $color; 

}

/*********************
COLOR TRANSPARENCY
*********************/

@mixin transparent-black($opacity){
	background-color: rgba(5,38,54,$opacity);
}

@mixin transparent-white($opacity){
	background-color: rgba(255,255,255,$opacity);
}

@mixin transparent-cyan($opacity){
	background-color: rgba(78, 197, 233, $opacity);
}

/*********************
MISC HELPERS
*********************/

@mixin hide-text{
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

@mixin hide-element{
	-webkit-visible: hidden;
	-webkit-opacity: 0;
	-moz-visible: hidden;
	-moz-opacity: 0;
	-o-visible: hidden;
	-o-opacity: 0;
	visible: hidden;
	opacity: 0;
}

@mixin show-element{
	-webkit-visible: visible;
	-webkit-opacity: 1;
	-moz-visible: visible;
	-moz-opacity: 1;
	-o-visible: visible;
	-o-opacity: 1;
	visible: visible;
	opacity: 1;
}
/********************
BUTTONS
********************/

@mixin button-style($color,$size){
  @extend %btn; 
  background-color: $color;
  font-size: $size;
  &:hover,
  &:focus {
    background-color: darken($color, 14%);
  } 
  &:active {
    background-color: darken($color, 18%);
  } 
}

@mixin button-shadow($top, $left, $blur, $color, $inset) {
	-o-box-shadow:$top $left $blur $color $inset;
	-webkit-box-shadow:$top $left $blur $color $inset;
	-moz-box-shadow:$top $left $blur $color $inset;
	box-shadow:$top $left $blur $color $inset;
}

@mixin nav-icons($content) {
	a:before, h1:before{
		padding: 0.2em 0.2em 0.2em 0;
		content: $content; 
	}
}
