/******************************************************************
Site Name: Neue-Portfolio
Author: Joe Widener
*/

@font-face {
      font-family: 'Ostrich Black';
      src: url('../fonts/ostrich-black-webfont.eot');
      src: url('../fonts/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/ostrich-black-webfont.woff') format('woff'),
             url('../fonts/ostrich-black-webfont.ttf') format('truetype'),
             url('../fonts/ostrich-black-webfont.svg#ostrich-black-webfont') format('svg');
      font-weight: bold;
      font-style: normal;
      
  }

@font-face {
      font-family: 'Ostrich Light';
      src: url('../fonts/ostrich-light-webfont.eot');
      src: url('../fonts/ostrich-light-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/ostrich-light-webfont.woff') format('woff'),
             url('../fonts/ostrich-light-webfont.ttf') format('truetype'),
             url('../fonts/ostrich-light-webfont.svg#ostrich-light-webfont') format('svg');
      font-weight: normal;
      font-style: normal;
      
  }

  @font-face {
      font-family: 'Ostrich Regular';
      src: url('../fonts/ostrich-regular-webfont.eot');
      src: url('../fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/ostrich-regular-webfont.woff') format('woff'),
             url('../fonts/ostrich-regular-webfont.ttf') format('truetype'),
             url('../fonts/ostrich-regular-webfont.svg#ostrich-light-webfont') format('svg');
      font-weight: normal;
      font-style: normal;
      
  }

@font-face {
      font-family: 'Alegreya Regular';
      src: url('../fonts/alegreya-regular-webfont.eot');
      src: url('../fonts/alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/alegreya-regular-webfont.woff') format('woff'),
             url('../fonts/alegreya-regular-webfont.ttf') format('truetype'),
             url('../fonts/alegreya-regular-webfont.svg#alegreya-regular-webfont') format('svg');
      font-weight: normal;
      font-style: normal;
      
  }

@font-face {
      font-family: 'Alegreya Black';
      src: url('../fonts/alegreya-black-webfont.eot');
      src: url('../fonts/alegreya-black-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/alegreya-black-webfont.woff') format('woff'),
             url('../fonts/alegreya-black-webfont.ttf') format('truetype'),
             url('../fonts/alegreya-black-webfont.svg#alegreya-black-webfont') format('svg');
      font-weight: normal;
      font-style: normal;
      
  }

 @font-face {
      font-family: 'Alegreya Italic';
      src: url('../fonts/alegreya-italic-webfont.eot');
      src: url('../fonts/alegreya-italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/alegreya-italic-webfont.woff') format('woff'),
             url('../fonts/alegreya-italic-webfont.ttf') format('truetype'),
             url('../fonts/alegreya-italic-webfont.svg#alegreya-italic-webfont') format('svg');
      font-weight: normal;
      font-style: normal;
      
  } 

/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Alegreya Regular", Georgia, Times, serif;
$serif-bold:        "Alegreya Black", Georgia, Times, serif;

$logo-font:         "Ostrich Regular", Verdana, sans-serif;
$header-font:       "Ostrich Black", Verdana, sans-serif;
$sub-header-font:   "Alegreya Italic", Georgia, serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
      word-break: break-word;
     word-break: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}


